{% extends "roots/root.html" %}

{% block title %}
<title>CSCI 6950 - Deep Learning Home</title>
{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col">
      Here fdsjkljdf sdkfdflksj fksdkdjfl sfkjdflksj flsdkjflsdkjf sdklfj sdkfjsd lfjsdlfk dslfkjd fsd fd skfjd kfjsdlkfjdlk fjsdk fsdlkjf dlskfj ldskfj sdlkf jsdlkfj sdlkfj sdlkf jsdlk fsdkljf sldkjfsdlf dslkfhsdlk fjdsk fjsdlkjf lsdkjflsdkj fldskjf lsdjf sdlkfjsdlkfj sldkfj sdlk fldskjfsdlfjsdlfjdslfds fsjfd fsd fd f sd fs fds f sdf ds fds f s fsd f sdf ds f s fds f ds fsd f sd fsd f sd fsd  sd fs dg sd gsd d sd gsd g ds gsd s ds g sd
    </div>
    <div class="col">
      fill picture
    </div>
  </div>
</div>
{% endblock %}